<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connectionString" value="Server = localhost; Database=RPMProgrammingExercise;Trusted_Connection=True;" />
		<add key="taskExecutionDelay" value="3600000" />
		<add key="dayCount" value="365" />
	</appSettings>
</configuration>